<!-- <div
  class="card mx-auto mt-4 p-2 shadow-lg"
  style="width: 60%; cursor: default"
>
  <h1 class="display-6 text-center">
    <span style="color: tomato; font-weight: 400">
      <%= job.jobDesignation %>
    </span>
    oppertunity in <%= job.jobLocation %> at
    <span class="text-primary" style="font-weight: 400"
      ><%= job.companyName %></span
    >
  </h1>
  <div class="mx-auto text-center">
    <div class="card-body">
      <h5 class="card-title"><%= job.companyName %></h5>
      <p class="card-text"><%= job.jobDesignation %></p>
    </div>

    <div class="card-body" style="text-align: left">
      <p class="m-0">
        <img
          src="https://cdn-icons-png.flaticon.com/128/1865/1865269.png"
          alt="location"
          style="height: 20px"
          class="mx-1"
        />
        <span><%= job.jobLocation %></span>
      </p>
      <p class="m-0">
        <img
          src="https://cdn-icons-png.flaticon.com/128/7370/7370261.png"
          alt="Salary"
          style="height: 20px"
          class="mx-1"
        /><span><%= job.salary %>lpa</span>
      </p>
      <p class="m-0">
        <img
          src="https://cdn-icons-png.flaticon.com/128/3073/3073484.png"
          alt="date"
          style="height: 17px"
          class="mx-1"
        />
        <span>Apply By <%= job.postedDate %></span>
      </p>
      <p class="m-0">
        <img
          src="https://cdn-icons-png.flaticon.com/128/3138/3138992.png"
          alt="openings"
          style="height: 18px"
          class="mx-1"
        /><span style="margin-left: 4px"
          >Number of openings <%= job.openings %></span
        >
      </p>
      <p class="m-0 text-danger">
        <img
          src="https://cdn-icons-png.flaticon.com/128/476/476863.png"
          alt="applicants"
          style="height: 20px"
          class="mx-1"
        /><span style="margin-left: 2px"
          >Applicants: <%= job.applicants %></span
        >
      </p>
    </div>

    <div class="container mb-2">
      <% job.skills.map((item)=>{%>
      <button class="btn btn-sm btn-outline-info"><%= item%></button>
      <%})%>
    </div>
    <div class="card-body">
      <a class="btn btn-primary px-5" id="applyBtn">Apply Now</a>
    </div>

    <div
      class="my-2 p-2 text-center rounded mx-auto"
      style="
        max-width: 240px;
        border: 1px solid #198754;
        color: white;
        background-color: #198754;
      "
    >
      Posted: <%= job.postedDate %>
    </div>
  </div>
</div> -->

<!-- <div
  id="applyForm"
  class="d-none"
  style="
    border: 1px solid brown;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div class="bg-white p-3 rounded position-relative">
    <h2 class="display-6" style="color: #198754; font-size: 25px">easily</h2>
    <div
      id="cross"
      class="cross-icon position-absolute"
      style="top: 25px; right: 25px; cursor: pointer"
    >
      &#10006;
    </div>
    <hr />
    <p class="display-6 text-center" style="font-size: 25px">
      Apply in less than 1 minute
    </p>
    <form
      class="w-75 mx-auto"
      action="/applyJob"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Name</span>
        <input
          type="text"
          class="form-control"
          placeholder="enter your name"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Email</span>
        <input
          type="email"
          class="form-control"
          placeholder="enter your email"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Contact</span>
        <input type="text" class="form-control" placeholder="+91" required />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon4">Resume</span>
        <input type="file" class="form-control" required />
      </div>
      <button
        type="submit"
        id="SubmitBtn"
        class="m-0 btn text-white"
        style="background-color: #198754"
      >
        Submit
      </button>
    </form>
    <hr />
    <div class="registerFooter">
      <div>
        <a class="btn btn-secondary" id="closeBtn">Close</a>
        <a class="btn btn-primary" href="/login">Save Changes</a>
      </div>
    </div>
  </div>
</div> -->
